@use "../../common/variables";

@use 'logo';
@use 'mobile-menu';

.header {
    box-shadow: 0px 3px 6px variables.$black-trans;
    .container {
        height: variables.$header-height;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
