@use '../../common/variables';

.header__menu-button {
    width: 20px;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    cursor: pointer;

    div {
        width: 100%;
        height: 2px;
        background-color: variables.$primary-color-200;
        transition: all 0.3s ease;
    }
}
