@use '../../common/variables';
@use '../../common/mixins';

.card {
    width: 18.375em;
    font-family: variables.$secondary-ff;
    border-radius: 18px;

    padding-top: 1.5625em;
    padding-bottom: 3em;

    position: relative;//to help position its buttons
    @include mixins.desktop-styles() {padding-top: 2.125em; width: 23.25em; max-width: 23.25em;}
}

.card__grid {
    display: grid;
    grid-template-columns: 47fr 52fr; //47% 53%

    @include mixins.desktop-styles() {grid-template-columns: 1fr; gap: 50px;}


    .card__column {
        &:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.card__header {
    text-align: center;

    .card__title {
        font-family: variables.$primary-ff;

        font-size: 1.25em;
        font-weight: bold;

        margin-bottom: 0.5em;

        @include mixins.desktop-styles() {margin-bottom: 0.7em;}
    }

    .card__price {
        font-size: 2.875em;
        line-height: 1.34em;
        font-weight: 300;

        margin-bottom: 0.2em;

        @include mixins.desktop-styles() {margin-bottom: 0.1em;}
    }

    .card__subtext {
        font-size: 0.75em;
        font-weight: bold;
    }
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mixins.desktop-styles() {align-items: center; gap: 26px;}

    li {
        font-size: 0.875em;
        line-height: 1.3571428571428572em;

        display: flex;
        gap: 10px;
        align-items: center;

        &:before {
            content: '';
            display: inline-block;
            width: 0.875em;
            height: 0.875em;
            background-image: url("/assets/checkmark-icon-2.svg");
            background-repeat: no-repeat;
            background-position: center center;

        }
    }
}

.card .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}