@use '../../common/variables';
@use '../../common/mixins';

.box {
    width: 19.625em;
    border: 1px solid variables.$grey-100;
    background-color: variables.$white-100;
}

.box__grid {
    display: grid;
    grid-template-columns: 1fr;
    height: inherit;

    .box__column {
        display: flex;
        justify-content: center;
        position: relative; //za pomoč pri pozicioniranju bg-shapeov
    }
}

.box__content {
    padding-top: 1.625em;
    padding-inline: 1.375em;
    padding-bottom: 1.5625em;

    .box__title {
        font-size: 1.875em;
        line-height: 1.1666666666666667em;
    }

    .box__text {
        font-family: variables.$secondary-ff;

        font-size: 0.875em;
        line-height: 1.3571428571428572em;
    }

    .box__underline {
        display: none;
    }
}

.box:first-child .box__title {margin-bottom: 1.5em;}
.box:nth-child(2) .box__title {margin-bottom: 0.7em;}
.box:last-child .box__title {margin-bottom: 0.9em;}

.box:last-child .box__column:nth-child(2) {grid-row: 1/2;}
.box:last-child .box__column:first-child {grid-row: 2/3;}

.box:last-child .box__text {font-size: 1em;}

.box .box__img {position: relative; z-index: 2;}
.box:first-child .box__img {width: 62%; padding-top: 2.25em;}
.box:nth-child(2) .box__img{width: 45%; padding-top: 1.5em;}
.box:last-child .box__img {width: 80%; padding-top: 1.7em; padding-bottom: 3.1em;}

.box .box__bg-shape {position: absolute;}
.box:first-child .box__bg-shape {
    width: 5.5em;
    height: 5.5em;
    background-color: variables.$red-200;
    border-radius: 46%;

    top: 1em;
    right: 3.3em;

    transform: rotate(45deg);
}

.box:nth-child(2) .box__bg-shape {
    width: 8.3em;
    height: 8.3em;

    border-radius: 50%;

    background-color: variables.$primary-color-100;

    top: 0.75em;
    left: 4.5em;
}

.box:last-child .box__bg-shape {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$secondary-color;

    border: 1px solid variables.$grey-100;
    border-radius: 5px;
}


//full RWD styles below!

.box {@include mixins.desktop-styles() {width: 70.25em; height: 23.125em;}}

//pomoč pri vizualizaciji
.box__content {@include mixins.desktop-styles() {padding: 0;}}

.box .box__column .box__img {@include mixins.desktop-styles() {padding: 0;}}

.box .box__column {@include mixins.desktop-styles() {display: block;}}
//



.box .box__column {
    @include mixins.desktop-styles() {
        height: inherit;
    }
    .box__content {
        @include mixins.desktop-styles() {
        }

        .box__title {
            @include mixins.desktop-styles() {
                font-size: 2.25em;
                line-height: 1.16em;
                margin-bottom: 0.7em;
            }
        }

        .box__text{
            @include mixins.desktop-styles() {
                font-size: 1em;
                line-height: 1.375em;
                margin-bottom: 3.125em;
            }
        }

        .box__underline {
            @include mixins.desktop-styles() {
                display: block;
                width: 20em;
                height: 4px;
            }
        }
    }
}

.box .box__grid .box__column:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box:first-child {
    .box__grid {
        @include mixins.desktop-styles() {
            grid-template-columns: 2fr 3fr;
        }
    }

    .box__column:nth-child(2) {
        @include mixins.desktop-styles() {

            grid-column: 1/2;
            grid-row: 1/2;

        }
    }
        
    .box__img {
        @include mixins.desktop-styles() {
            width: 54%;
            margin-inline: auto;
            top: 34%;
        }
    }

    .box__bg-shape {
        @include mixins.desktop-styles() {
            width: 10.8em;
            height: 10.8em;
            border-radius: 40px;

            top: 23%;
            right: 31%;
            transform: translateX(40%) rotate(45deg);
        }
    }

    .box__content {
        @include mixins.desktop-styles() {
            padding-left: 2.1875em;
        }
    }

    .box__underline {
        @include mixins.desktop-styles() {
            background-color: variables.$red-200;
        }
    }
    
}

.box:nth-child(2) {
    .box__grid {
        @include mixins.desktop-styles() {
            grid-template-columns: 3fr 2fr;
        }
    }

    .box__bg-shape {
        @include mixins.desktop-styles() {
            width: 20em;
            height: 20em;

        }
    }

    .box__img {
        @include mixins.desktop-styles() {
            width: 52%;
            top: 9%;
            left: 15%;
        }
    }

    .box__content {
        @include mixins.desktop-styles() {
            padding-right: 0.5em;
        }
    }

    .box__underline {
        @include mixins.desktop-styles() {
            background-color: variables.$primary-color-200;
        }
    }

}

.box:last-child {
    @include mixins.desktop-styles() {background: transparent; border: none;}
    .box__grid {
        @include mixins.desktop-styles() {
            grid-template-columns: 3fr 2fr;
        }
    }

    .box__column:first-child {
        @include mixins.desktop-styles() {
            grid-column: 2/2;
            grid-row: 1/3;
        }
    }

    .box__column:nth-child(2) {
        @include mixins.desktop-styles() {
            width: 90%;
            background-color: variables.$white-100;
            border: 1px solid variables.$grey-100;
        }
    }

    .box__content {
        @include mixins.desktop-styles() {
            padding-left: 2.1875em;
        }
    }

    .box__underline {
        @include mixins.desktop-styles() {
            background-color: variables.$secondary-color;
        }
    }

    .box__img {
        @include mixins.desktop-styles() {
            width: 58%;
            top: 25%;
            left: 24%;
        }
    }
}