@use '../../common/variables';

.contact__checkbox-field {
    display: flex;
    gap: 20px; 

    margin-top: 1.875em;
    margin-bottom: 1.25em;

    font-family: variables.$secondary-ff;
    font-size: 0.75em;
    color: variables.$grey-400;

    line-height: 1.4166666666666667em;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    cursor: pointer;

    input {
        display: none;

        &:checked ~ .contact__custom-checkbox img {
            display: block;
        }
    }

    .contact__custom-checkbox {
        width: 2em;
        height: 2em;
        border: 1px solid variables.$grey-400;
        border-radius: 4px;
    
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-shrink: 0;
        flex-basis: 2em;

        position: relative;
        top: 0.375em;

        img {
            display: none;
        }
    }
}