@use '../../common/variables';
@use '../../common/mixins';

@use 'contact-info';
@use 'contact-form';

.contact {

    @include mixins.desktop-styles() {padding-inline: 13em;}

    .contact__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3.3125em;
        .contact__column {

        }

        @include mixins.desktop-styles() {grid-template-columns: 1fr 1fr; gap: 1.5em;}
    }
}