@use '../../common/variables';

.pricing {
    padding-top: 3.75em;
    padding-bottom: 4.8125em;
    
    .pricing__title {
        font-size: 2.25em;
        line-height: 1.1666666666666667em;

        text-align: center;
        
        margin-bottom: 0.3888888888888889em;
    }

    .pricing__cards{
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 54px;
    }
}