@use '../../common/variables';
@use '../../common/mixins';

.pricing {
    padding-top: 3.75em;
    padding-bottom: 4.8125em;

    @include mixins.desktop-styles() {padding-top: 6.25em; padding-bottom: 9.6875em;}

    
    .pricing__title {
        font-size: 2.25em;
        line-height: 1.1666666666666667em;

        text-align: center;
        
        margin-bottom: 0.3888888888888889em;

        @include mixins.desktop-styles() {font-size: 2.25em; line-height: 1.1667em; margin-bottom: 1.38em;}
    }

    .pricing__cards{
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 54px;
        @include mixins.desktop-styles() {flex-direction: row; justify-content: center;}

    }
}