@use '../../common/variables';

.footer {
    padding-top: 1.685em;
    padding-bottom: 2em;
    box-shadow: 0px -5px 40px variables.$black-trans;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__left {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    .footer__logo {
        font-size: 1.7em;
        color: variables.$primary-color-200;
        font-weight: 300;
    }
    .footer__copyright {
        font-size: 0.685em;
        font-family: variables.$secondary-ff;


        color: variables.$grey-400;
        font-weight: 400;
    }
}

.footer__socials {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px
}