@use 'variables';
@use 'mixins';

body {
    font-family: variables.$primary-ff;
}

input {
    outline: none;
    border: none;
}

.container {
    margin: 0 auto;
    max-width: 1352px;
    padding-inline: 1em;
}