//font families
$primary-ff: "Raleway", sans-serif;
$secondary-ff: "Open Sans", cursive, sans-serif;


//colors
$primary-color-100: #07ACE6;
$primary-color-200: #08A6E4;
$secondary-color: #55DFB4;

$grey-100: #E8E9ED;
$grey-200: #A5A5A5;
$grey-300: #95989A;
$grey-400: #707070;

$white-100: #FFFFFF;
$white-200: #F7F7F7;

$black-100: #000000;
$black-200: #13253B;
$black-trans: #00000029;

$red-100: #EB476E;
$red-200: #FB3B64;

//breakpoints(mobile is default)
$desktop-bp: "only screen and (min-width: 999px)";

//random
$header-height: 70px;

$user-icon-width: 2.75em;
$views-icon-width: 4.0625em;
$post-icon-width: 3.25em;