@use '../../common/variables';

.benefits {
    padding-top: 2.625em;
    padding-bottom: 2.75em;
    background-color: variables.$white-200;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 41px;
    }
}